.clickyNav {
  width: 100%;
  border-radius: 2px;
  -webkit-box-shadow: 0 3px 41px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 3px 41px -4px rgba(0,0,0,0.75);
  box-shadow: 0 3px 41px -4px rgba(0,0,0,0.75);
  background: linear-gradient(to bottom, #ad0001, #f30001);
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
